attrs==25.4.0
bandit==1.9.2
cachetools==6.2.4
cattrs==25.3.0
cbor2==5.8.0
chardet==5.2.0
colorama==0.4.6
coverage==7.13.1
distlib==0.4.0
dpkt==1.9.8
fastcrc==0.3.5
filelock==3.20.3
hypothesis==6.150.2
iniconfig==2.3.0
librt==0.7.7
markdown-it-py==4.0.0
mdurl==0.1.2
mypy==1.19.1
mypy-extensions==1.1.0
packaging==25.0
pathspec==1.0.1
platformdirs==4.5.1
pluggy==1.6.0
pygments==2.19.2
pyproject-api==1.10.0
pytest==9.0.2
pyyaml==6.0.3
rich==14.2.0
ruff==0.14.10
sortedcontainers==2.4.0
stevedore==5.6.0
tox==4.34.1
tox-uv==1.29.0
typing-extensions==4.15.0
uv==0.9.26
virtualenv==20.36.1
